.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    background-image: url(img/door.webp);
    
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 618px;
    height: 618px;
    margin-left: 80px;
}
.gremlin {
    background-image: url(img/Stripe.jpg);
    background-size: cover;
}
body {
    background-image: url(img/background.webp);
    background-repeat: no-repeat;
}
.box h2 {
    color: red;
    text-align: center;
    font-family: gremlins;
    font-size: 28px;
    
    
    
    
}
.box {
    box-sizing: border-box;
    background-color: white;
    width:  600px;
    height: 200px;
    margin-top: 60px;
    margin-left: 85px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px lightblue;

    }

    @font-face {
        font-family: gremlins;
        src: url(font/GREMLINS.TTF);
    }
div {
        cursor: grabbing;
    }